* {
    background-color: rgb(254, 254, 254);
}

body {
    background-color: rgb(132, 135, 129);
}

header {
    background-color:antiquewhite;
}

nav {
    background-color: aquamarine;
}

aside {
    background-color: rgb(254, 165, 238);
}

section {
    background-color: rgb(255, 132, 32);
}

footer {
    background-color: rgb(45, 30, 255);
}

#logoPortada {
    width: 200px;
}

#mapa {
    width: 200px;
}

.iconoRedSocial {
    width: 40px;
}

/*Breadcrums*/
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

